doctype html
html
	head
		meta(http-equiv='content-type', content='text/html; charset=UTF-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')

		title #{name} API Documentation

		link(href='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.6/semantic.min.css', media='all', rel='stylesheet', type='text/css')
		link(href='assets/css/apical.css', media='all', rel='stylesheet', type='text/css')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js')
		script(src='https://code.jquery.com/ui/1.11.4/jquery-ui.min.js')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.6/semantic.min.js')
		script(type='text/javascript', src='assets/js/apical.js')

		block head

	body

		block body
